@import "delivery-payment.css";
@import "specific.css";


.thumbnail {
    padding: 5px;
}

.thumbnail img {
    border: 1px solid #d2d2d2;
    background: white;
    border-radius: 9px;
    cursor: pointer;
    aspect-ratio: 96/96;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnail.slick-current img{
    -webkit-box-shadow: 6px 10px 15px -8px rgba(87,87,87,1);
    -moz-box-shadow: 6px 10px 15px -8px rgba(87,87,87,1);
    box-shadow: 6px 10px 15px -8px rgba(87,87,87,1);
}

.info-icons-group{
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    gap: 1rem;
}

.info-icons-group img{
    width: 76px;
    height: 76px;
    aspect-ratio: 76 / 76;
}



.product {
    margin-top: 55px;
}

.gallery-slider .slick-list {
    mix-blend-mode: multiply;
}


.product-des {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.color-size ul {
    display: flex;
    gap: 1em;
}

.color ul li a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.color-filter-value-341 {
    background: #b76e79;
}

.color-filter-value-474 {
    background: #c0c0c0;
}

.color-filter-value-507 {
    background: #050505;
}

.size ul li a {
    display: block;
    width: 70px;
    padding: 5px 0;
    background: white;
    border: 1px solid #d2d2d2;
    border-radius: 16.5px;
    text-align: center;
    font-weight: 500;
}

.price {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.add-to-cart {
    font-weight: 500;
    gap: 1em;
}

.credit-buy {
    padding: 0;
    height: 80px;
}

.creditBuyBank {
    height: 70px;
    padding: 10px 8px 8px 8px;
    font-size: 15px;
    display: flex;
    gap: 5px;
    border: 1px solid #8493ca;
    border-radius: 6px;
    width: 95%;
    color: #757575;
}

.creditBuyBank:hover {
    background: #b6cc00;
    color: #fff;
}

.creditBuyBankIco {
    width: 50px;
}

.creditBuyBankDescr {
    display: block;
    width: 130px;
}

.credit-bank-name {
    line-height: 23px;
    margin: 0 0 0 2px;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.credit-price {
    line-height: 23px;
    margin: 0px 0px 0px 2px;
    font-size: 13px;
    font-weight: bold;
    display: block;
}

.credit-buy-header {
    font-size: 26px;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: left;
}

.add-to-cart .trade-in {
    max-width: 255px;
    min-width: 228px;
    width: 100%;
    height: 41px;
    background: white;
    border: 1px solid #d2d2d2;
    border-radius: 20.5px;
    font-size: 14px;
    padding: 0.8em;
}

.addToCartSingle {
    max-width: 124px;
    width: 100%;
    height: 41px;
    display: block;
    background: #b6cb00;
    border-radius: 20.5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.credit-buy-header p {
    font-weight: 500;
    margin: 0;
}

.extWarranty ul {
    display: flex;
    gap: 1em;
}

.extWarranty ul li {
    width: 33%;
}

.extWarranty ul a {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #d2d2d2;
    border-radius: 32px;
    font-size: 14px;

    font-weight: 500;
    line-height: 1.1em;
}

.extWarranty h6 {
    margin-bottom: 0.8em;
}

ul li a.selected {
    background: #b6cb00;
    color: white;
}

.product-des .btn:hover {
    background: #a7b900;
    color: white;
}

@media screen and (max-width: 600px){
    .product-des {
        gap: 30px;
        margin-top: 38px;
    }

    .extWarranty ul a {
        border-radius: 22px;
    }

    .add-to-cart {
        gap: 6px;
    }
    .addToCartSingle {
        font-size: 14px;
    }

    .creditBuyBank{
        width: 100%;
    }
}



