.account-sidebar, .account-content, .order-summary{
    padding: 25px 20px;
    border-radius: 24px;
    border: 1px solid #dfdfdf;
    background: white;
}


.account-content{
    min-height: 100%;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.sidebar-list li{
    cursor: pointer;
    display: flex;
}

.sidebar-list .icon-20px{
    margin-right: .5em;
}

.sidebar-list .icon-stroke{
    stroke: black;
}
.sidebar-list .icon-fill{
    fill: black;
}

.sidebar-list li{
    font-size: 16px;
}

.sidebar-list li.active, .sidebar-list li:hover{
    color: #7fab16;
}
.sidebar-list li.active .icon-fill, .sidebar-list li:hover .icon-fill, .account-content-title .icon-fill{
    fill: #7fab16;
}
.sidebar-list li.active .icon-stroke, .sidebar-list li:hover .icon-stroke, .account-content-title .icon-stroke{
    stroke: #7fab16;
}

.sidebar-list span{
    display: inline-block;
    margin-left: auto;
}




.order-list{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.order-summary__title{
    font-weight: bold;
    color: #7D7D7D;
}
.order-summary__data{
    color: #7D7D7D;
}
.order-summary__status{
    width: 70px;
    padding: 5px 0;
    border: 1px solid #d2d2d2;
    border-radius: 16.5px;
    text-align: center;
    font-weight: 500;
}


.table-responsive {
    overflow-x: auto;
}

.order-summary__table{
    border-collapse: separate;
    border-spacing: 20px 2em;
    font-weight: bold;

}

.order-summary__table td:first-child{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: normal;
    min-width: 175px;
}

.order-summary__table img{
    max-height: 100px;
}


.status-test{
    background: #d0d4de;
}

@media screen and (max-width: 600px){
    .order-summary__table img{
        max-height: 60px;
    }
}