.get-product-details{
    display: none;
}
.get-product-details.active{
    display: flex;
}




.checkout-form .form-group .form-control{
    border-radius: 24px;
    outline: none;
}

.checkout-form .form-group .form-control:focus{
    box-shadow: none;
}

.checkout-form{
    padding: 0 0 65px;
}

.checkout-form label{
    padding-left: 22px;
}

.radio-button label{
    padding: 0;
}

.checkout-form label span{
    color: red;
    margin-left: .5em;
}


.radio-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}


.get-product-details{
    margin-top: 60px;
}

.get-product-details h6{
    margin-bottom: 1em;
}

.checkout-form .hidden{
    display: none;
}


.cart-total-amount .shopping-list li{
    border: none;
}

.checkout-card-total{
    margin-top: 67px;
}

@media screen and (max-width: 600px){
    .checkout-card-total{
        margin-top: 0;
    }
}