.promo-col{
    display: flex;
}

.promo-slider{
    width: 66%;
}
.promo-slider img{
    height: 448px;
    object-fit: cover;
    margin: auto;
    border-radius: 24px;

}

@media screen and (max-width: 600px){
    .promo-slider{
        width: 100%;
    }
    .promo-slider img{
        height: auto;
    }
    .promo-col{
        flex-direction: column;
        gap: 2em;
    }
}