@import "header.css";
@import "ui.css";
@import "./product/product.css";
@import "footer.css";
@import "product-list-slider.css";
@import "modals.css";
@import "home-page.css";
@import "catalog/catalog.css";
@import "shoping-cart.css";
@import "checkout.css";
@import "about.css";
@import "conditions.css";
@import "promo.css";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f7f6fb;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

h1, h2{
    font-size: 24px;
}


h4{
    font-size: 14px;
}

h6{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}




#scrollUp {
    right: 20px;
    z-index: 33;
    bottom: 20px;
    text-align: center;
}

#scrollUp i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #8493CA;
    border-radius: 50px;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
    display: block;
    color: #fff;
    box-shadow: 0px 4px 19px #00000038;
}


.contacts-page .about__contacts{
    justify-content: start;
    align-items: start;
}

.contacts-page__contacts{
    flex-direction: column;
    gap: 2em;
}

.banner{
    width: 100%;
}
.trade-in-page .checkbox-size label{
    width: auto;
    padding: 0 25px;
}

.checkbox-size label{
    background: white;
}
.trade-in-page .radio-group{
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
}

.trade-in-page .select{
    justify-content: start;
    padding: 5px 27px;
    width: 100%;
}

.trade-in-page .select-wrapper{
    flex-grow: 1;
}

@media screen and (max-width: 600px){
    .desktop{
        display: none !important;
    }
}
@media screen and (min-width: 600px){
    h1, h2{
        font-size: 20px;
    }
    .mobile{
        display: none !important;
    }
}