.product-list-wrapper {
    position: relative;
    padding: 20px 0 44px;
}


.product-list-wrapper.day-products {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 34%;
    height: 448px;
}
.product-list-wrapper.day-products .single-product{
    height: 448px;
}

.section-title-right .grey-button{
    width: 125px;
}

.slick-arrows {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 50%;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.slick-arrows svg {
    width: 100%;
    height: 100%;
    fill: #AAAFCA;
}
.slick-arrows:hover svg {
    fill: #7fab16;
}

.slick-prev {
    left: -24px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slick-next {
    right: -24px;
}


.product-list-slider {
    margin: 0 -14px
}

.product-list-slider .product-list-slider__item {
    padding: 0 14px
}

.single-product .product-content {
    padding: 0 1.5em;
}

.single-product {
    background: white;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.single-product .product-img {
    position: relative;
    cursor: pointer;
}

.single-product .product-price {
    font-weight: 500;
}

.single-product .product-price .current {
    font-size: 23px;
}
.day-products .single-product .product-price .current {
    font-size: 16px;
}

.single-product .product-price .old {
    font-size: 14px;
    min-height: 18px;
    text-decoration: line-through;
    opacity: .5;
}

.single-product .product-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.day-products .single-product .product-content {
    gap: 10px;
}

.single-product .product-img a {
    display: block;
    position: relative;
}

.single-product .product-content h3 {
    font-size: 12px;
    font-weight: 500;
    /*height: 35px;*/
    margin: 0;
}

.single-product .product-content h3 a {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.single-product .product-buy {
    margin: auto -1.5em 0;
}

.single-product .add-to-cart {
    width: 100%;
    height: 41px;
    background: #b6cb00;
    cursor: pointer;
    position: relative;
    padding: 5px;
    border-radius: 20.5px;
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 20px;
}

.single-product .add-to-cart:hover {
    background: #7fab16;
}

.single-product .add-to-cart .button-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 5px;
    fill: #b6cb00;
}
.single-product .add-to-cart:hover .button-arrow {
    fill: #7fab16;
}

@media screen and (max-width: 1400px) {
    .single-product .product-price .current {
        font-size: 16px;
    }
    .single-product .product-price .old {
        font-size: 12px;
    }
    .day-products .single-product .product-content {
        gap: 20px;
    }
}

@media screen and (max-width: 600px){
    .product-list-wrapper.day-products {
        width: 100%;
        height: auto;
    }
    .product-list-wrapper.day-products .single-product{
        height: auto;
    }
    .single-product .add-to-cart {
        font-size: 14px;
        height: 34px;
    }

    .single-product .add-to-cart .button-arrow {
        width: 26px;
        height: 26px;
    }
}