.bread-list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
}

.bread-list li:hover a {
    color: #b6cb00;
}

.bread-list li {
    display: flex;
    align-items: center;
}

.bread-list li + li:before {
    margin: 0 8px;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 256 256' id='Flat'%3E%3Cpath d='M218.82812,130.82812l-72,72a3.99957,3.99957,0,0,1-5.65625-5.65625L206.34326,132H40a4,4,0,0,1,0-8H206.34326L141.17187,58.82812a3.99957,3.99957,0,0,1,5.65625-5.65625l72,72A3.99854,3.99854,0,0,1,218.82812,130.82812Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}


.icon-xs {
    width: 16px;
    height: 16px;
}

.icon-s {
    width: 25px;
    height: 25px;
}

.icon-m {
    width: 48px;
    height: 48px;
}

.icon-promo {
    width: 30px;
    height: 30px;
}

.button-arrow {
    width: 35px;
    height: 35px;
}

.grey-button {
    height: 36px;
    border-radius: 18px;
    background: #abb0cb;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.grey-button > div {
    text-align: center;
    flex-grow: 1;
    font-weight: 500;
    color: white;
}

.grey-button .button-arrow {
    fill: #abb0cb;
    width: 26px;
    height: 26px;

}

.grey-button.show .button-arrow {
    transform: rotate(-90deg);
}



.select-wrapper {
    position: relative;
    user-select: none;
}

.select{
    display: flex;
    align-items: center;
    padding: 12px 27px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
}
.options {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 2;
    display: none;
    border-radius: 10px;
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover, .option.selected {
    background-color: #f0f0f0;
}

.option.selected {
    font-weight: bold;
}

.select-caret{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.open .select-caret{
    transform: translateY(-50%) rotate(-180deg);

}

.select-caret:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20stroke%3D'%23000000'%3E%3Cpath%20d%3D'M19.1416%209.92896L12.7776%2016.2929C12.3871%2016.6834%2011.7539%2016.6834%2011.3634%2016.2929L4.99946%209.92895'%20stroke-width%3D'1'%20stroke%3D'black'%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
}



.checkbox, .radio-button{
    position: relative;
    padding-left: 30px;
}

.checkbox-size, .checkbox-color{
    position: relative;
}

.container-catalog-filter label, .radio-button label{
    cursor: pointer;
}

.checkbox-color label{
    width: 30px;
    height: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
}

.checkbox-size label{
    width: 54px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 13px;
    border: 1px solid #d7d7d7;

}

.checkbox label:before, .radio-button label:before{
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    left: 0;
    display: block;

}

.catalog-filter-checkbox, .catalog-filter-checkbox-size, .catalog-filter-checkbox-color, .radio-button input{
    width: 0;
    height: 0;
    opacity: 0;
}

.catalog-filter-checkbox:checked + label:before, .radio-button input:checked + label:before{
    background-color: #b6cb00;
    border-color: #b6cb00;
}
.catalog-filter-checkbox-size:checked + label{
    background: #b6cb00;
    border-color: #b6cb00;
    color: white;
}
.catalog-filter-checkbox-color:checked + label{
    border-color: #b6cb00;
}


.catalog-filter-checkbox:disabled + label:before {
    background-color: #f7f6fb;
}
.catalog-filter-checkbox:disabled + label {
    color: #959595;
}
.catalog-filter-checkbox-size:disabled + label {
    color: #959595;
    background-color: #f7f6fb;
}
.catalog-filter-checkbox-color:disabled + label{
    opacity: .1;
}


.color-filter-value-341 {
    background: #b76e79;
}

.color-filter-value-474 {
    background: #c0c0c0;
}

.color-filter-value-507 {
    background: #050505;
}

.color-filter-value-1502 {
    background: #F5F5DC;
}

.color-filter-value-1029 {
    background: #00ffff;
}

.color-filter-value-504 {
    background: #ffffff;
}

.color-filter-value-473 {
    background: #17fc50;
}

.color-filter-value-500 {
    background: #b76e79;
}