.delivery-payment ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.delivery-payment .icon-xs{
    margin-right: 0.5em;
}

.delivery-payment i{
    color: #b6cb00;
    cursor: pointer;
    margin-left: 0.5em;
}

.delivery-payment ul li{
    display: flex;
    align-items: center;
    width: 100%;
}


.delivery-payment ul li span:first-child{
    display: inline-block;
    width: 64%;
}

.delivery-payment ul li>span:last-of-type{
    display: inline-block;
    width: 36%;
}
.delivery-payment h6{
    margin-bottom: 14px;
}

.delivery-payment > *{
    margin-top: 45px;
}

@media screen and (max-width: 600px){
    .delivery-payment ul li{
        width: 100%;
    }
}